html {
    min-height: 100%;
    background: #c21500; 
    background: -webkit-linear-gradient(to right, #c21500, #ffc500); 
    background: linear-gradient(to right, #c21500, #ffc500);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: bisque;
}


.header {
    display: flex;
    text-align: center;
    justify-content: center;
}

.container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    font-size: 20px;
    font-weight: 700;
}

button {
    background-color: darkorange;
    width: 90px;
    height: 60px;
    font-size: 20px;
}